
backend/.env
/backend/media/uploaded_documents
/backend/media/temp_asset
/backend/media
/backend/users/__pycache__
/backend/video_generator/__pycache__
/backend/video_generator/functionalities/__pycache__
/backend/video_generator/migrations/__pycache__
/backend/core/__pycache__
/backend/core/migrations/__pycache__
/backend/core/utils/__pycache__
/backend/core/migrations/__pycache__
/backend/adwise/__pycache__
/backend/core/migrations/__pycache__
/backend/core/migrations/__pycache__
/backend/logs
/backend/logs
backend/db.sqlite3
backend/72acc1be-1968-411e-95db-6543204b5975TEMP_MPY_wvf_snd.mp3
**/**/db.sqlite3
*.logs
/backend/users/migrations/__pycache__
backend/google-chrome-stable_current_amd64.deb
