aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
amqp==5.3.1
annotated-types==0.7.0
argcomplete==1.10.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==24.3.0
audeer==2.2.1
audiofile==1.5.1
audmath==1.4.1
azure-cognitiveservices-speech==1.42.0
beautifulsoup4==4.8.0
billiard==4.2.1
blinker==1.9.0
cachetools==5.5.0
celery==5.4.0
certifi==2024.12.14
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coloredlogs==15.0.1
colorlog==6.9.0
cryptography==44.0.0
decorator==4.4.2
dj-rest-auth==7.0.1
Django==5.1.5
django-allauth==65.3.1
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
docx2txt==0.8
EbookLib==0.17.1
exceptiongroup==1.2.2
extract-msg==0.23.1
Flask==3.1.0
frozenlist==1.5.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0
h11==0.14.0
httplib2==0.22.0
humanfriendly==10.0
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.6.0
IMAPClient==2.1.0
instagrapi==2.1.3
itsdangerous==2.2.0
Jinja2==3.1.5
jwt==1.3.1
kombu==5.4.2
lxml==5.3.0
MarkupSafe==3.0.2
MouseInfo==0.1.3
moviepy==1.0.3
multidict==6.1.0
numpy==2.2.1
oauth2client==4.1.3
olefile==0.46
opencv-python==4.11.0.86
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pdfminer.six==20181108
pillow==10.4.0
proglog==0.1.10
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==2.10.1
pydantic_core==2.27.1
pydub==0.25.1
PyGetWindow==0.0.9
PyJWT==2.10.1
PyMsgBox==1.0.9
pyparsing==3.2.1
PyPDF2==3.0.1
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-pptx==0.6.18
python-xlib==0.33
python3-xlib==0.15
pytweening==1.2.0
pytz==2024.2
pywhatkit==5.4
redis==5.2.1
reportlab==4.0.9
requests==2.32.3
rsa==4.9
scipy==1.15.1
selenium==4.27.1
six==1.12.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.0
soupsieve==2.6
SpeechRecognition==3.8.1
sqlparse==0.5.3
textract==1.6.3
tqdm==4.67.1
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==1.5.1
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
wikipedia==1.4.0
wsproto==1.2.0
xlrd==1.2.0
XlsxWriter==3.2.0
yarl==1.18.3