.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

.preloader-logo {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.preloader-text {
  color: #4a90e2;
  animation: bounce 1s infinite alternate;
}

.preloader-dot {
  /* color: #ff6347; */
  animation: bounce 1s infinite alternate;
}

.loader-bar {
  width: 200px;
  height: 4px;
  background: #ddd;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.loader-bar::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #006ad1;
  border-radius: 2px;
  animation: loading 1s infinite linear;
}

/* Bounce animation for "ReadMe" text */
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}

/* Loader bar animation */
@keyframes loading {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
